<!-- nav bar section -->
<nav class="navbar navbar-expand-lg header-nav section-bg-dark">
  <div class="container nav-container">
    <a class="navbar-brand" href="#">
      <img src="assets/header-logo.svg">
    </a>
    <div class="collapse navbar-collapse" id="headerNavBar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            GP Education <i class="bi bi-chevron-down toggle-chevron"></i>
          </a>
          <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#"></a></li>
            </ul> -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Practice for Sale <i class="bi bi-chevron-down toggle-chevron"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            GP Availability <i class="bi bi-chevron-down toggle-chevron"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            GP Jobs <i class="bi bi-chevron-down toggle-chevron"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-right-cont">
      <ul>
        <li class="heart"><img src="assets/heart.svg"></li>
        <li class="bell"><img src="assets/bell.svg"></li>
      </ul>
      <div class="header-user">
        <span class="user-name">Cheris</span><img class="prof-pic" src="assets/header-user.svg">
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavBar"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-justify"></i>
    </button>
  </div>
</nav>

<section class="search-page-wrapper section-bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="phils-wrapper filter-items">
          <div class="dropdown">
            <div class="phil phil-selected phil-sm">Profiles</div>
          </div>
          <div class="dropdown">
            <div class="phil phil-primary phil-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              id="dropdownMenuButton1">
              Location </div>
            <section class="dropdown-menu filter-dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <div class="close"><img src="assets/close.svg" alt="" srcset=""></div>
              <div class="search-bar">
                <input type="text" placeholder="Search location">
              </div>
              <div class="filter-options">
                <div class="form-feilds-block">
                  <label class="checkbox-wrp">Queensland
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox-wrp">New South Wales
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox-wrp">Tasmania
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox-wrp">Victoria
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox-wrp">Western Australia
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox-wrp">South Australia
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="action-wrapper">
                <a class="btn btn-no-fill btn-sm"><span class="pl-0">RESET</span></a>
                <a class="btn btn-fill-blue btn-sm"><span class="pl-0">Show Results</span></a>
              </div>
            </section>
          </div>
          <div class="dropdown">
            <div class="phil phil-selected phil-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              id="dropdownMenuButton1">
              Profile Type <span class="icon">1</span></div>
          </div>
          <div class="dropdown">
            <div class="phil phil-primary phil-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              id="dropdownMenuButton1">
              Industry </div>
          </div>
          <div class="dropdown">
            <div class="phil phil-primary phil-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
              id="dropdownMenuButton1">
              Special Interest </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row justify-content-center search-results-wrapper">
      <div class="col-lg-8">
        <div class="col-lg-12 main-heading">
          <h3>34 results found</h3>
        </div>
        <div class="col-lg-12 results-area section-bg-dark">
          <div class="col-lg-12 title">
            <h3>Profiles</h3>
          </div>
          <div class="col-lg-12 profile">
            <div class="avatar"><img src="assets/avatar.svg" alt="" srcset=""></div>
            <div class="content">
              <div class="title">
                <h2>Dr. Dan Lea
                </h2>
                <div class="action-btns">
                  <div class="view-profile-btn">
                    <a class="btn btn-outline-blue btn-sm"><span class="pl-0">VIEW PROFILE</span></a>
                  </div>
                  <div class="view-img-btn">
                    <a class="btn btn-outline-blue btn-sm"><span class="pl-0"><img src="assets/view-img.svg" alt=""
                          srcset=""></span></a>
                  </div>
                </div>
              </div>

              <h3>General Practitioner </h3>
              <h4>Australia, Melbourne </h4>
              <p>Endoscopy, Bariatric surgery, Allergy and immunology, Anaesthesiology, Dermatology, Diagnostic
                radiology</p>
            </div>
          </div>
          <div class="col-lg-12 profile">
            <div class="avatar"><img src="assets/yangara.svg" alt="" srcset=""></div>
            <div class="content">
              <div class="title">
                <h2>Yangarra Family Centre
                </h2>
                <div class="action-btns">
                  <div class="view-profile-btn">
                    <a class="btn btn-outline-blue btn-sm"><span class="pl-0">VIEW PROFILE</span></a>
                  </div>
                  <div class="view-img-btn">
                    <a class="btn btn-outline-blue btn-sm"><span class="pl-0"><img src="assets/view-img.svg" alt=""
                          srcset=""></span></a>
                  </div>
                </div>
              </div>

              <h3>General Practitioner </h3>
              <h4>Australia, Melbourne </h4>
              <p>24-Hour emergency care, Lab & blood draw services, Cosmetic clinic, Sleep medicine services</p>
            </div>
          </div>
          <div class="col-lg-12 profile last">
            <div class="avatar"><img src="assets/cheris.svg" alt="" srcset=""></div>
            <div class="content">
              <div class="title">
                <h2>Dr. Cheris Yufan Lu
                </h2>
                <div class="action-btns">
                  <div class="view-profile-btn">
                    <a class="btn btn-outline-blue btn-sm"><span class="pl-0">VIEW PROFILE</span></a>
                  </div>
                  <div class="view-img-btn">
                    <a class="btn btn-outline-blue btn-sm"><span class="pl-0"><img src="assets/view-img.svg" alt=""
                          srcset=""></span></a>
                  </div>
                </div>
              </div>

              <h3>General Practitioner </h3>
              <h4>Australia, Melbourne </h4>
              <p>Endoscopy, Bariatric surgery, Allergy and immunology, Anaesthesiology, Dermatology, Diagnostic
                radiology</p>
            </div>
          </div>
        </div>
        <section class="col-lg-12 pagination-wrapper">
          <h5> <span>&lt;</span> Previous</h5>
          <ul>
            <li class="current">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
          </ul>
          <h5>Next <span>&gt;</span> </h5>
        </section>
      </div>
    </div>
  </div>

</section>

<!-- footer section -->
<footer class="py-5 footer section-bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 sec-one">
        <h5><img src="assets/myg-logo.svg" alt="" srcset=""></h5>
        <ul class="nav flex-column footer-content">
          <li class="nav-item mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolo.</li>
          <li class="nav-item mb-2">
            <ul class="icon-set">
              <li><img src="assets/fb.svg" alt="" srcset=""></li>
              <li><img src="assets/youtube.svg" alt="" srcset=""></li>
              <li><img src="assets/linkedin.svg" alt="" srcset=""></li>
              <li><img src="assets/insta.svg" alt="" srcset=""></li>
              <li><img src="assets/trip-advisor.svg" alt="" srcset=""></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-sm-6 sec-two">
        <h5>Contact Us</h5>
        <ul class="nav flex-column footer-content">
          <li class="nav-item mb-2"> <span class="footer-item-prefix"> <img src="assets/location.svg" alt=""
                srcset=""></span> <span class="item-text">480 Collins
              Street, Melbourne,
              Vic, 3000</span></li>
          <li class="nav-item mb-2"> <span class="footer-item-prefix"><img src="assets/email.svg" alt=""
                srcset=""></span>
            <span class="item-text">admin@mygpportal.com.au</span>
          </li>
          <li class="nav-item mb-2"> <span class="footer-item-prefix"><img src="assets/phone.svg" alt=""
                srcset=""></span> <span class="item-text">(02) 5991 1870</span></li>
        </ul>
      </div>
      <div class="col-lg-4 col-sm-12 sec-three">
        <h5>Useful Info</h5>
        <ul class="nav flex-column footer-content">
          <li class="nav-item mb-2">Can't login to the platform?</li>
          <li class="nav-item mb-2"><button class="btn btn-primary contact-btn"><span>CONTACT US</span></button></li>
        </ul>
      </div>
    </div>
    <hr class="horizontal-line" />
    <div class="footer-bottom">
      <div class="p-2">&copy; 2023 My GP Portal. All rights reserved.</div>
      <div class="p-2 footer-content-bottom">
        <span class="bottom-item">Contact Us</span>
        <span class="bottom-item">|</span>
        <span class="bottom-item">Advertise With Us</span>
        <span class="bottom-item">|</span>
        <span class="bottom-item">Terms of Use</span>
      </div>
    </div>
  </div>
</footer>